# Ignore compiled Java class files
*.class

# Ignore logs
*.log

# Ignore temporary files created by editors
*.tmp

# Ignore package files like .jar, .war, .ear
*.jar
*.war
*.ear

# Ignore IntelliJ IDEA specific files
.idea/
*.iml

# Ignore Eclipse specific files
.project
.classpath
.settings/

# Ignore NetBeans specific files
/nbproject/private/
/build/
/dist/

# Ignore Visual Studio Code folder
.vscode/

# Ignore MacOS system files
.DS_Store
